<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "fontawesome/css/all.css"%}">
    <script src='{% static "jquery.js" %}'></script>
    <script src='{% static "bootstrap/js/bootstrap.js" %}'></script>
    {% block mycss %}

    {% endblock %}
    <style media="screen">
    html, body{
      height:100%;
    }
    .ab:hover{
      box-shadow:10px 10px 8px #ccc;
      height:110px;
      width:110px;
      border-radius:50%;
    }
    .menu{
      padding-top:15%;
      text-decoration: none;
    }
    .container-fluid{
      height:100% !important;
    }
    .ab{
      transition: rotate(90deg);
    }

    .right {
  position: relative;
  background: #fce3e3;
  text-align: right;
  min-width: 45%;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  float: right;
  right: 20px;
}

.right::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: -1px;
  right: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #ccc;
}

.right::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -8px;
  border: 10px solid transparent;
  border-top: 10px solid #fce3e3;
  clear: both;
}
li a{
  color:white; 
}

/* .left {
position: relative;
background: white;
text-align: right;
min-width: 45%;
padding: 10px 15px;
border-radius: 6px;
border: 1px solid #ccc;
float: right;
right: 20px;
}

.left::after {
content: '';
position: absolute;
visibility: visible;
top: -1px;
right: -10px;
border: 10px solid transparent;
border-top: 10px solid #ccc;
}

.left::before {
content: '';
position: absolute;
visibility: visible;
top: 0px;
left: -8px;
border: 10px solid transparent;
border-top: 10px solid white;
clear: both;
} */

.dblockonsmall{
  display: none;
}
@media screen and (max-width:600px){
  .dblockonsmall{
    display: block;
  }
  .dnoneonsmall{
    display: none;
  }
}
    </style>
  </head>
  <body  style='background-image:url(""); background-size:100% 100%; height:100%;'>
    <div class="container-fluid" style='height:100%;'>
      <div class="row">
        <div class="col-md-12 dnoneonsmall">
          <nav class='navbar navbar-expand-sm fixed-top navbar-dark bg-primary d' style='background:rgba(0,0,0,0.7)'>
            <a href="{% url 'finalapp:profile'%}" class='navbar-brand text-white'>GetMeSocial
              <i class="fas fa-comments"  style="font-size:40px; color:white"></i>
            </a>
            <ul class='navbar-nav ml-auto'>
              <li class='nav-item'>
                <a href="{% url "finalapp:profile"%}" class='nav-link active text-white'> <i class="fas fa-home"></i> </a>
              </li>
              <li class='nav-item'>
                <a href="{% url "finalapp:news_feed"%}" class='nav-link active text-white'> <i class="fas fa-newspaper"></i> </a>
              </li>
              <li class='nav-item'>
                <a href="{% url "finalapp:list"%}" class='nav-link active text-white'> <i class="fas fa-paste"></i> </a>
              </li>
              <li class='nav-item'>
                <a href="{% url "finalapp:create"%}" class='nav-link text-white'> <i class="fas fa-notes-medical"></i> </a>
              </li>
              <li>
                <li class='nav-item'>
                  <a href="{% url 'finalapp:friends'%}" class='nav-link text-white'> <i class="fas fa-envelope"></i> </a>
                </li>
                <li class='nav-item'>
                  <a href="#" class='btn btn-outline-light' > Welcome {{ user.username|upper }} !</a>
                </li>
            </ul>
          </nav>
      </div>
    </div>
    <div style="height:67px;" class='dnoneonsmall'>
    </div>
    <div class="row">
      <!-- EX START -->
      <div class="col-md-3 px-0 dblockonsmall">
          <nav class="navbar navbar-expand-md bg-info navbar-dark">
              <!-- Brand -->
              <a href="#" class='navbar-brand text-white'>GetMeSocial <i class="fas fa-comments"  style="font-size:40px; color:white"></i></a>
              <!-- Toggler/collapsibe Button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Navbar links -->
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  {% for i in userp %}
                  <div class="row">
                    <div class="col-md-12 text-center py-3">
                      <img src="/media/{{ i.profile_pic }}" style="width:100px; height:100px; border-radius:50%;"/>
                        <h4 class="text-white">{{ user.username|upper }}</h4>
                    </div>
                  </div>
                  <ul class="navbar-nav">
                    <li class='nav-item'>
                      <a href="{% url "finalapp:profile"%}" class='nav-link'><i class="fas fa-home"></i> Dashboard</a>
                    </li>
                    
                    <li class="nav-item">
                          <a href="{% url "finalapp:user_update" pk=i.id %}" class='nav-link'><i class="fas fa-user-circle"></i> Edit Profile</a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url "finalapp:user_profile" %}" class='nav-link'><i class="far fa-user-circle"></i>  View Your Profile</a> 
                      </li>
                      <li class="nav-item">
                        <a href="{% url "finalapp:updatePass" %}" class='nav-link'><i class="fas fa-key"></i> Change Password</a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url "finalapp:friends"%}" class='nav-link'><i class="fas fa-user-friends"></i> Friends</a> 
                      </li>
                      <li class='nav-item'>
                        <a href="{% url "finalapp:news_feed"%}" class='nav-link'><i class="fas fa-newspaper"></i>News Feed </a>
                      </li>
                      <li class='nav-item'>
                        <a href="{% url "finalapp:list"%}" class='nav-link'><i class="fas fa-paste"></i> Your posts</a>
                      </li>
                      <li class='nav-item'>
                        <a href="{% url "finalapp:create"%}" class='nav-link'><i class="fas fa-notes-medical"></i> Create Post</a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url "finalapp:friends" %}" class='nav-link'><i class="fas fa-envelope-square"></i>Messages</a> </li>
                      <li class="nav-item">
                         <a href="{% url "finalapp:logout"%}" class='nav-link'><i class="fas fa-sign-out-alt"></i>Logout</a> </li>
                    </ul>
                {% endfor%}
              </div> 
            </nav> 
      </div>
      <!-- EX END HERE -->
      <div class="col-md-3 bg-dark dnoneonsmall sticky-top py-4" style="height:640px;">
          <div class="row pt-5">
            <div class="col-md-8 ">
                {% for i in userp %}
            <a href="/media/{{i.profile_pic}}">
              <div class='mx-auto ab' style="height:100px ; width:100px; border-radius:100px; background:url('/media/{{ i.profile_pic }}'); background-size:100% 100%;"></div>
              </a>
              
                <ul class="text-light" style='list-style-type:none;'>

                  <li class="menu"><i class="fas fa-user-circle mr-2"></i>  <a href="{% url "finalapp:user_update" pk=i.id %}"> Edit Profile</a></li>

                  <li class="menu"><i class="far fa-user-circle mr-2"></i> <a href="{% url "finalapp:user_profile" %}">View Your Profile</a> </li>
                  <li class="menu"><i class="fas fa-key mr-2"></i> <a href="{% url "finalapp:updatePass" %}"> Change Password</a></li>
                  <li class="menu"><i class="fas fa-user-friends mr-2"></i> <a href="{% url "finalapp:friends"%}">Friends</a> </li>
                  <li class='menu'>
                    <a href="{% url "finalapp:news_feed"%}" class=' '><i class="fas fa-newspaper text-white  mr-2"></i>News Feed </a>
                  </li>
                  <li class='menu'>
                    <a href="{% url "finalapp:list"%}" class=''> <i class="fas fa-paste text-white mr-2"></i> Your posts</a>
                  </li>
                  <li class='menu'>
                    <a href="{% url "finalapp:create"%}" class=''> <i class="fas fa-notes-medical text-white mr-2 "></i> Create Post</a>
                  </li>
                  <li class="menu"><i class="fas fa-envelope-square mr-2"></i> <a href="{% url "finalapp:friends" %}">Messages</a> </li>
                  <li class="menu"><i class="fas fa-sign-out-alt mr-2"></i> <a href="{% url "finalapp:logout"%}">Logout</a> </li>
                </ul>{% endfor %}
              </div>

            </div>
        </div>
  <div class='col-md-9 bg-light py-3'>
    {% if u %}
    <h4 style='font-family:cursive;'>People You May Know</h4>
    {% endif %}

    <div class="card-columns py-4">
        {% for i in p %}
      <div class="card text-center pt-4">
        <div class="card-head">
          <div style="text-align:center;">
            {% if i.profile_pic %}
            <img src="/media/{{ i.profile_pic }}" class='ab' alt="No Image" height='100' width='100' style='border-radius:50%;'>
            {% else %}
            <img src="{% static "images/no_img.jpg"%}" alt="No Image" height='100' width='100' style='border-radius:50%;'>
            {% endif %}
          </div>

          <h2 class='card-title text-center'> {{ i.username}}</h2>
          <small class='card-text'>Date of Birth: {{ i.dob}}</small><br/>
          <a href="{% url "follow"%}?id={{i.user_id}}" class="{{ i.btn1 }}">{{ i.btn}}</a>
          <!-- {% if i.btn %}
          <a href="{% url "follow"%}?id={{i.user_id}}" class="btn btn-warning">Unfollow</a>
          {% else %}
          <a href="{% url "follow"%}?id={{i.user_id}}" id='{{i.id}}' class="btn btn-success">Follow</a>
          {% endif%} -->
          <!-- <a href="{% url "follow"%}?id={{i.user_id}}" class="btn btn-danger">Delete</a> -->

        </div>
        <div class="card-body">

        </div>
      </div>
      {% endfor %}
    </div>
    {% block body_block %}

    {% endblock %}

  </div>
</div>

    </div>

  </body>
</html>
