{% extends "dashboard.html" %}
{% load staticfiles %}
{% block mycss %}
  <style>
    .chat{
      height:30px;
      width:30px;
      background: #ccc;
      position:absolute;
      left:-7px;
      top:7px;
      transform: rotate(45deg);
    }
  </style>
{% endblock %}
{% block body_block %}
<div class="row">
  <div class="col-md-12 text-center">
    <img src="/media/{{det.profile_pic}}" alt="No Image" height="100" width="100" style='border-radius:50%;' />
    
    <h1>{{det.name}}</h1>
    <small>Active on : {{active}}</small><br/>
    <small>Born on : {{age}}</small>
    <hr />
    <div class="row">
      <div class="col-md-12 text-left">
        <div class="bg-secondary p-3">
        <label>Send Message</label>
        {% csrf_token %}
        <textarea class="form-control" placeholder="Enter Your Message Here" id='msg'></textarea>
        <input type="button" class="btn btn-success mt-3" id='msgbtn' value="Send" />
        </div>
        <ul class="list-group aaa">
          
          <li class="list-group-item text-right">
              <small>Name</small><br/>
              MSG1<br/>
              <small>Received @ : Time</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <script>
  $(function(){
    $('#msgbtn').click(function(){
      var a = $('#msg').val();
      var sendto = "{{ det.sendto }}";
      var sndr = "{{det.loginuser}}";
      var b = $("input[name*='csrfmiddlewaretoken']").val();
      $.ajax({
        url: '{% url "finalapp:ajax_message" %}',
        type: 'post',
        data: {rcvr:sendto,message:a, csrfmiddlewaretoken:b},
        success: function(data){
          // alert(data);
          getMsg();
        }
      })
    });
  });
  function getNameFromId(id){
    var b = $("input[name*='csrfmiddlewaretoken']").val();
    var ss = '';
    $.ajax({
      url: '{% url "finalapp:ajax_fun"%}',
      type: 'POST',
      async: false,
      data: {usernamefromid:id, csrfmiddlewaretoken:b},
      success: function(data){
        ss = data;
      }
    });
    return ss;
  }
  function getMsg(){
    var sendto = "{{ det.sendto }}";
    var sndr = "{{det.loginuser}}";
    var b = $("input[name*='csrfmiddlewaretoken']").val();
    var alignment = "";
    $.ajax({
      url : '{% url "finalapp:show_message" %}',
      type: 'POST',
      data: { sndr:sndr, rcvr:sendto ,csrfmiddlewaretoken:b},
      success: function(data){
        var a = '';
        for(n in data){
          if(sndr==data[n].fields.sender){
            alignment = "text-left";
          }else{
            alignment = "text-right bg-light";
          }
          a += "<li class='list-group-item "+alignment+"'><small><strong>"+getNameFromId(data[n].fields.sender)+"</strong></small><br/>";
          a += data[n].fields.message+"<br/><small class='text-muted'>"+data[n].fields.created_at+"</small></li>";
        }
        $('.aaa').html(a);
      }
    });
  }
  setInterval(getMsg, 5000);
  getMsg();
  </script>
{% endblock %}
