<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "fontawesome/css/all.css"%}">
<script src='{% static 'jquery.js'%}'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Courgette|Great+Vibes|Lobster|Pacifico" rel="stylesheet"></head>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <style>
  .b  {

      /* background:url('{% static "images/f2.jpg"%}'); */
      background:url('https://ak5.picdn.net/shutterstock/videos/8599435/thumb/3.jpg');
      /* background-attachment: fixed; */
      background-repeat: no-repeat;
      height: 600px;
      width:100%;
      background-size:100% 100%;
    }
    .d{
      font-size: 1vw;
      font-weight:bold;
      font-family: 'Roboto', sans-serif;
    }
    h1{
      font-family:"Times New Roman";
      font-style:italic;
      font-size: 5vw;
      font-weight:bold;
      text-align:center;
      margin-top: 70px;
    }

.c{
  background:url('{% static "images/5.jpg"%}');
  background-repeat: no-repeat;
  height: 647px;
  width:100%;
  background-size:100% 100%;

}
.card:hover{
  cursor:pointer;
  box-shadow: 8px 8px 8px #ccc;

}

h2{
  font-size: 4vw;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;

}
body{
   background:url('{% static "images/112.jpg"%}');
   background-attachment:fixed;

}
.btnz{
  height:50px;
  width:40%;
  color: red !important;
  border:1px solid red;
  padding:10px;
  display:inline-block;
  box-sizing:border-box;
  margin:10px;
  transition:2s all;


}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
.txtxt{
  color:red !important;
}
.form-text,label{
  display:none;
}
#id_gender > label{
  display:block !important;
}
#id_first_name, #id_last_name{
    width:47.1%;
    float:left;
    margin-bottom:15px;

}
#id_first_name{
  margin-right:11px !important;
}
#id_first_name, #id_last_name, #id_email, #id_username, #id_password,input[type='date'],#id_confirm_password{
  margin:5px;
  border:none;
  border-bottom:1px solid red;
}
input:focus{
  box-shadow:none;
}

.btnz:hover{
  color:white !important;
  background:red;
  cursor:pointer;
  box-shadow:5px 5px 8px black;
  height:55px;
  width:43%;
  transition:1s;
  text-decoration:none;

}
#contf > label{
  display:block !important;
}
/* label{
  display:none;
} */
.navbar-nav > .nav-item > .nav-link{
    color:white;
  }
@media screen and (max-width:600px){
  .fixed-top{
    position: static !important;
  }
  .navbar-nav > .nav-item > .nav-link{
    font-size:13px;
    color:white;
  }
}


</style>
<script>
$(function(){
  $('#eye').click(function(){
    var passval = $('#pass').attr('type');
    // alert(passval);
    if(passval=='text'){
      $('#pass').attr('type', 'password'); 
      $(this).removeClass('far fa-eye-slash').addClass('far fa-eye'); 
    }else{
      $('#pass').attr('type', 'text'); 
      $(this).removeClass('far fa-eye').addClass('far fa-eye-slash'); 
    }
  });
});
</script>
</head>
<body>
  <div class="container-fluid b">
    <div class="row">
      <div class="col-md-12 px-0">
        <nav class='navbar navbar-expand-md fixed-top navbar-dark d' style='background:rgba(0,0,0,0.7)'>
          <a href="{% url "index"%}" class='navbar-brand'>
            <i class="fas fa-comments"  style="font-size:40px; color:white"></i>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class='navbar-nav ml-md-auto'>
              <li class='nav-item'>
                <a href="#" class='nav-link'>HOME</a>
              </li>
              <li class='nav-item'>
                <a href="#about" class='nav-link'>ABOUT US</a>
              </li>
              <li class='nav-item'>
                <a href="#contf" class='nav-link'>CONTACT</a>
              </li>
              <li>
              <li class='nav-item'>
                <a href="#login" class='nav-link'>LOGIN</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>


            <div class="row my-5">
        <div class="col-md-6  mx-auto my-5 text-center p-5" style =" background-color:rgba(255,255,255,0.5);border:1px solid red;  border-radius:10px;">

            <h2 class='text-dark pt-0 mt-0 ' style="font-family: 'Courgette', cursive;"> <br/><span > GetMeSocial</span> </h2>
            <p class=txtxt text-dark style='font-size:20px;'> <span style="font-family: 'Courgette', cursive;">Stay connected with your friends!!! Find your friends here !!!</span><br/>
              <span style="font-family: 'Pacifico', cursive;">“Social media is not a media. The key is to listen, engage, and build relationships.”
-David Alston</span>
            </p>
            <div class="button" style='width:100%;'>
              <a class='btnz' href='#login'>Login</a>
              <a class='btnz'  data-toggle="modal" data-target="#myModal">Register</a>
            </div>
        </div>
          </div>
          <div class="row">
            <div class="col-md-6">
            </div>
          </div>
            </div>
            <div class="container-fluid bg-white">
              <div class="row ">
                <div class="col-md-6">
                  <div id="demo" class="carousel slide my-5" data-ride="carousel">

  <!-- Indicators -->
                     <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                      <li data-target="#demo" data-slide-to="2"></li>
                        </ul>

  <!-- The slideshow -->
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img height=500 width=100% src="{% static "images/3.jpg" %}"  alt="Los Angeles">
                      </div>
                      <div class="carousel-item">
                        <img height=500 width=100% src="{%static "images/012.png" %}"  alt="Chicago">
                      </div>
                      <div class="carousel-item">
                        <img height=500 width=100% src="{% static "images/8.jpg" %}" alt="New York">
                      </div>
                      <div class="carousel-item">
                        <img height=500 width=100% src="{% static "images/010.png" %}" alt="New York">
                      </div>
                    </div>

  <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>

              </div>


                </div>
                <div class="col-md-6 mt-5" id='login'  style='background:url("{% static "images/form_image.png"%}");background-repeat:no-repeat; background-size:100% 100%;'>
                  <div class="card" style='width:60%; height:100%; margin-left:33%;'>
                    <div class="card-header">
                      <img height=200 width=200 src="{% static "images/015.png" %}" alt="Login" class='card-img-top'>
                    </div>
                    <div class="card-body">
                      <div class="card-title text-center" >
                        Login Form
                      </div>
                      <form class="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-append">
                              <span class='input-group-text'>
                                <i class='fas fa-user'></i>
                              </span>
                            </div>
                            <input type="text" name="un" class='form-control' placeholder='Enter Username'>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-append">
                              <span class='input-group-text'>
                                <i class='fas fa-key'></i>
                              </span>
                            </div>
                            <input type="password" id='pass' name="pwd" class='form-control' placeholder='Enter Password'>
                            <div class='input-group-prepend bg-white'>
                              <span class='input-group-text bg-white'>
                                <i id='eye' class="far fa-eye text-primary"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-append">
                            <input type="submit" name="login" class='btn btn-success' value="Login">
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="card-footer">
                      <span class='card-text'>Not an member?</span>
                      <a class='card-link text-primary' data-toggle="modal" data-target="#myModal">Register Here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="container-fluid" id='about' style='background:#ccc'>
              <div class="row text-center mt-5  px-0">
                <div class="col-md-12">
                  <h2>OUR FEATURES</h2>
                </div>
              </div>
              <div class="row py-5">
                <div class='col-md-12 py-5'>
                <div class="card-deck">

                    <div class="card">
                      <div class="card-header">
                        <img src="{% static "images/08.jpg" %}" style="height:200px; width:100%;">
                      </div>
                      <div class="card-body">
                        <div class="" data-toggle='collapse' data-target='#connect'>
                          <h3 class='text-center' style="cursor:pointer">Ease of Connectivity</h3>
                        </div>
                        <div class='card-text collapse' id='connect' style='transition:2s all;'>
                         People from anywhere can connect with anyone. Regardless of the location and religion. The beauty of social media is that you can connect with anyone to learn and share your thoughts.
                       </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                        <img src="{% static "images/013.jpg" %}" style="height:200px;width:100% ;">
                      </div>

                      <div class="card-body">
                        <div class="" data-toggle='collapse' data-target='#help'>
                          <h3 class=' card-link text-center'style="cursor:pointer">Help Peoples</h3>
                        </div>
                        <div class='card-text collapse'  id='help' style='transition:2s all;'>
                           You can share your issues with the community to get help and giddiness. Whether it is helping in term of money or in term of advice, you can get it from the community you are connected with.
                         </div>
                       </div>
                     </div>
                     <div class="card">
                       <div class="card-header">
                         <img src="{% static "images/014.jpg" %}" style="height:200px; width:100%;">
                       </div>
                       <div class="card-body">
                         <div class="" data-toggle='collapse' data-target='#update'>
                           <h3 class='text-center' style="cursor:pointer"> Information and Updates</h3>
                         </div>
                         <div class='card-text collapse' id='update' style='transition:2s all;'>
                          The main advantage of the social media is that you update yourself from the latest happenings around in the world. Most of the time, Television and print media these days are biased and does not convey the true message. With the help of social media you can get the facts and true information by doing some research.
                   </div>
                  </div>
                    </div>
                  </div>
                  </div>
                </div></div>

      <div class="col-md-12 mx-auto">
        <!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" >Open Modal</button> -->

<!-- Modal -->
{% if rg %}
<script>
  var c= alert("{{rg}}");
  if(c=true){
    window.location = 'http://127.0.0.1:8000/#login ';
  }

</script>
{% endif %}
<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <div class="text-center">
        <h4 class='' style="cursor:pointer">Register Here</h2>

      </div>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form rf %}
        {% bootstrap_form rf2 %}
<input type ="submit" value="Submit" name='register' class='btn btn-success my-2'>
<!-- <input type="sumbit" name='' value='Create Account' class = 'mb-3 btn-prmary'> -->
 </form>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div> -->
  </div>

</div>
</div>
      </div></div></div>
      <div class='container-fluid' style='background:url("{% static "images/map.jpg"%}"); background-attachment:fixed;'>
        <div class="row text-center mt-3">
          <div class="col-md-12">
            <h2> GET A TOUCH</h2>
          </div>
        </div>
        <div class="row mt-5  pb-5">
          <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
          <div class="col-md-5 ml-5 color:#990000 bg-light">
            <form method='post'>
              {% csrf_token %}
              <h3 class="text-center" > SEND US A MESSAGE</h3>
              <div class="form-group" id='contf'>
                <label for="Name">Name</label>
                <input type ="text" name='feedname' class="form-control" id="name">
                <label for="Email Address">Email</label>
                <input type ="email" name='feedemail' class="form-control" id="email">
                <label for="Message">Message</label>
                <textarea name='feedmessage' class="form-control" id="message"></textarea>
              </div>
              <input type="submit" name='feedbtn' class="btn btn-primary mb-2" value="Send Feedback"/>
            </form>

          </div>

        </div>
        <div class="row text-center py-3 bg-dark text-white px-0">
          <div class="col-md-4 border border-top-0 ----border-left-0 border-bottom-0 border-light" style=''>
            <h2 style="font-family: 'Courgette', cursive;"> GetMeSocial </h2>
              <p>Get in connect to <br/>change Your life!!!</p>
              <span>&copy; Friends | All right reserved</span>
          </div>
          <div class="col-md-4 border border-top-0 border-left-0 border-bottom-0 border-light">
            <h6><i class="fas fa-map-marker-alt"></i> Office Address</h6>
              <p>sachtech pvt.ltd,Mohali</p>
              <h6><i class="fas fa-envelope-square"></i> Email</h6>
              <p>sachtech123@gmail.com</p>
              <h6><i class="fas fa-mobile-alt"></i> Contact</h6>
              <p>+917901869046</p>
          </div>
          <div class="col-md-4">
           <h4 class='' style='font-family:cursive;'> Recent Users </h4>
           {% for i in dt %}
           <p style='text-decoration:underline;' class='pb-1'> {{i.username}}</p>
           {% endfor %}
            </span>
          </div>
        </div>
      </div>

    </body>
    </html>
