{% extends "dashboard.html"%}
{% block body_block %}
        <div class='row'>
            <div class='col-12 card-columns'>
                {% for i in posts %}
                <div class='card'>
                    <div class='card-header text-center' style='width:100%;'>
                    {% if i.author.username is user.username %}
                    <h4 class='text-primary' style='font-family:cursive'>You</h4>
                    {% else %}
                    <h4 class=' text-primary' style='font-family:cursive'>{{i.author.username}}</h4>
                    {% endif %}
                    {% if i.author.first_name %}
                    <small class=''>( {{i.author.first_name}} {{ i.author.last_name }} )</small><br/>
                    {% endif %}
                         <img src="/media/{{i.image}}" alt="" height=200 width=100%>
                    </div>
                    <div class='card-body'>
                        <h5 class='' style='font-family:Gill Sans'> {{i.title}}<a href="{% url "finalapp:feed_description"%}?id={{i.id}}" class='btn btn-sm btn-primary float-right'><i class='fas fa-eye'></i> View Post</a></h5>

                        <p>{{i.text}}</p>
                        <small class=' text-primary'>
                          <a href="{% url "finalapp:feed_description"%}?id={{i.id}}">
                          <i class="far fa-comments" style='font-size:20px;'></i>
                          {% if i.comments %}
                           {{i.comments}}
                          {% else %}
                          0{%endif%}
                          </a>
                          <a href="{% url "like"%}?id={{i.id}}" class="">
                            <i class="fas fa-thumbs-up"></i>
                              {% if i.likes%}
                              {{i.likes}}
                            {% else%}
                          0{% endif %}
                          </a>


                          <span class='float-right'><i class="far fa-clock"></i> {{i.create_date }}</span></small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
