<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    {{ u }}
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
    {% for i in u %}
      <tr>
        <td>{{i.user.username}}</td>
        <td>{{i.user.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.user.email}}</td>
        <td>{{i.profile_pic}}</td>
        <td>{{i.gender}}</td>


        <td><button>Click</button></td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>
