{% extends "dashboard.html"%}
{% block mycss %}
<style media="screen">
  td{
    /* text-align:right; */
  }
</style>
{% endblock %}
{% block body_block %}
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="/media/{{profile.profile_pic}}" alt="No Image" height=150 width=150 style='border-radius:50%'>
      <h2 class='' style='font-family:cursive'>{{profile.first_name}} {{profile.last_name}}</h2>
      <a href="{% url "finalapp:user_update" pk=profile.id %}" class='btn btn-primary'>Edit Profile</a>
      <hr/>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <table class='table table-hover' style='width:100%;'>
          <tr>
            <th>Username</th>
            <td>{{profile.username}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{profile.email}}</td>
            </tr>
            <tr>
              <th>First Name</th>
              <td>{{profile.first_name}}</td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td>{{profile.last_name}}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>{{profile.gender}}</td>
            </tr>
            <tr>
              <th>Worked At </th>
              <td>{{profile.work}}</td>
            </tr>
            <tr>
              <th>Interests</th>
              <td>{{profile.interests}}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{profile.status}}</td>
            </tr>
            <tr>
              <th>DOB</th>
              <td>{{profile.dob}}</td>
            </tr>
            <tr>
              <th>Education</th>
              <td>{{profile.education}}</td>
            </tr>
            <tr>
              <th>About</th>
              <td>{{profile.about}}</td>
            </tr>
            <tr>
              <th>Current City</th>
              <td>{{profile.current}}</td>
            </tr>
            <tr>
              <th>HomeTown</th>
              <td>{{profile.home}}</td>
            </tr>
            <tr>
              <th>Registered</th>
              <td>{{profile.registered}}</td>
            </tr>

          </table>
      </div>
    </div>

{% endblock %}
