{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FRIENDS BOOK</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class='btn btn-warning' name="" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
