{% extends "dashboard.html"%}
{% block mycss %}
<style>
  #id_title{
    border:none;
  }
</style>
{% endblock %}
{% block body_block %}
{% load bootstrap4 %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 style='font-family:cursive;'>Create Post</h2>
    </div>
    <div class="col-md-6 mx-auto" style='background:rgba(64,126,255,0.5)'>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        <input type="submit" name="" value="Post" class='btn btn-primary'>
      </form>
    </div>
  </div>
</div>

{% endblock%}
