{% extends "dashboard.html" %}
{% load staticfiles %}
{% block body_block %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Are, You sure want to delete <span class='text-danger'>{{post.title}}</span> ?</h4>
        <p>After Deleting, it will not able to:</p>
        <ul>
          <li>It will not recovered anyway</li>
          <li>Your Friends cannot see this </li>
        </ul>
        <form  method="post">
          {% csrf_token %}
          <input type="submit" name="confirm" value="Yes, I am Sure" class='btn btn-danger'/>
          <a href="{% url "finalapp:post_detail" pk=post.id%}">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
