{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FRIENDS BOOK</title>
     <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
     <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
     <style>
      .bootstrap4-multi-input{
        display: none;
      }
      label[for='id_profile_pic']{
        display: none;
      }
     </style>
     <script>
       $(function(){
         $('#uploadfile').click(function(){
           $('#id_profile_pic').click();
         });
       });
     </script>
  </head>
  <body>
    <div class="container-fluid" >


<div class="row p-4" style="background-image:url('{% static 'images/hd4.jpg'%}');background-size:100% 100%;">
<div class="col-md-6 mx-auto p-4" style="margin-left:300px; background-color:#cbcfd3;">
  <h2>Edit Profile</h2>
  <form method="post" enctype="multipart/form-data" class='UserForm'>
    {% csrf_token %}
    {% bootstrap_form form %}
    Profile Pic : <button type='button' class="btn btn-info" id='uploadfile'>Choose File</button><br/>
    <hr>
    <input type="submit" class='btn btn-primary btn-block mt-3' name="" value="Update">
  </form>
</div>
</div>


    </div>
  </body>
</html>
